body {
    margin: 0;
    height: 3000px;
}

p {
    font-family: Nunito, Arial;
}

.header {
  background-color: white;
  color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  z-index: 1;
}

.header-name-and-links {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.header-name {
  font-family: Nunito, Arial;
  font-weight: bold;
  padding-left: 90px;
  font-size: 20px;
}

.header-links {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-right: 70px;
  font-family: Nunito, Arial;
  font-weight: bold;
  height: 50px;
  align-items: center;
}

.header-link-github, .header-link-linkedin {
  cursor: pointer;
}

.header-link-github:hover, .header-link-linkedin:hover {
  color: rgb(47, 47, 47);
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.website-contents {
  padding-left: 70px;
  font-family: Nunito, Arial;
  padding-top: 140px;
  width: 400px;
}

.intro-content {
  font-size: 30px;
  font-weight: bold;
}

.email:hover {
  cursor: pointer;
  background-color: gray;
}

.projects {
  margin-top: 50px;
}
.project {
  font-size: 50px;
}